@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

/* 공통속성 */
body{font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.04rem;}
.container{width: 1100px; height: inherit; margin: 0 auto; /* background: rgba(0,0,0,.3); */}
input{ border: none;  appearance: none; outline: none;}

/* 레이아웃 */
#header{width: 100%; height: 130px; font-size: 87.5%;}
#main{width: 100%;}
#content1{width: 100%;}
#content2{width: 100%; padding: 30px 0; background: #edf1fe;}
#content3{width: 100%; height: 275px; background: #fbfcfe; border-bottom: 1px solid #edeff9; padding: 30px 0;}
#content4{width: 100%; height: 100px;}
#footer{width: 100%; background: #293e5d; color: #7e9dcc; font-size: .9em; line-height: 1.1em; height: 150px;}
#Map{position: relative; margin-top: 20px}

/* 헤더영역 */
.header-top{width: 100%; height: 37px; padding: 20px 0; border-bottom: 1px solid #ddd; text-align: center; font-size:14px}
.header-top .userguide{float: left; width: 83px; height: 18px; background: #e9525a url(../img/userguide.png) 10px 10px no-repeat; border: 1px solid #c33038; color: #fff; padding: 8px 10px 8px 30px; line-height: 1.2rem;}
.header-top>a{font-size:.8rem; /* color: #fff; */}
.header-top h1{width: 130px; height: 35px; margin: 0 auto; vertical-align: middle; display: inline-block;} 
.header-top h1 img{width: 100%;}
.header-top ul{float: right;}
.header-top ul li{float: left; border: 1px solid #e1e1e1; height: 36px;
line-height: 36px; text-align: center;}
.header-top ul li:nth-child(1){margin-right: -1px;}
.header-top ul li:nth-child(3){margin-left: -1px;}
.header-top ul li a{padding: 10px;}
.header-top ul li span{padding: 10px;}

.header-menu{width: 100%; height: 50px; background: #fff; position: relative;  z-index: 999; display: inline-block;}
.menu-bg{background: #f8fafe; top: 51px; left: 0; width: 100%; height: 0; transition: .1s; position: absolute; box-shadow: 0 2px 2px #ddd;}
.header-menu:hover .menu-bg{height: 178px; border-top: 1px solid #ddd;}
.menu-con>ul>li{float: left; text-align: center; position: relative;}
.menu-con>ul>li:before, .menu-con>ul>li:last-child:after
{content: ""; height: 10px; width: 1px; position: absolute; top: 20px;}
.menu-con>ul>li:before{border-left: 2px dotted #cccccc;}
.menu-con>ul>li:last-child:after{border-right: 2px dotted #cccccc; right: 0;}
.menu-con>ul>li>a{width: 275px; height: 50px; display: inline-block; line-height: 50px; font-size: 15px; font-weight: 500;}
.menu-con>ul>li>a:hover{color: #5172df;}
.menu-con>ul>li>ul{position:absolute; height: 0; transition: .1s; overflow: hidden; top: 50px; width: 100%; text-align: center;}
.header-menu:hover .menu-con>ul>li>ul{height: 164px; padding: 12px 0 20px;}
.menu-con>ul>li>ul>li{color: #2f2f2f; padding: 6.5px 0; font-size: .95rem; font-weight: 400;}
.menu-con>ul>li>ul>li:hover>a{color: #5172df; text-decoration: underline;}



/* 메인영역(콘텐츠 1)*/
.con-visual{background: #5172df; position: relative; width: 100%; height: 460px;}
.con-visual .bg{position: absolute; left: 0; top: 0; height: 490px;  width: 100%; overflow: hidden;}

.visual-bg1{background: url(../img/visual-bg1.png) center 360px no-repeat; }
.con-visual .bg ul>li{position: absolute;}
.con-visual ul>.bg1{bottom: 40px; margin-left: -130px;}
.con-visual ul>.bg1 img{width: 140px;}
.con-visual ul>.bg2{right: 50%; bottom: 70px; margin-right: -650px;}
.con-visual ul>.bg2 img{width: 120px;}
.con-visual ul>.bg3{bottom: 65px; margin-left: -90px;}
.con-visual ul>.bg3 img{width: 110px;}
.con-visual ul>.bg4{margin-left: -160px; bottom: 45px;}
.con-visual ul>.bg4 img{width: 60px;}
.con-visual ul>.bg5{left: 100px; bottom: 40px;}
.con-visual ul>.bg5 img{width: 90px;}
.con-visual ul>.bg6{right: 50%; bottom: 40px; margin-right: -930px;}
.con-visual ul>.bg6 img{width: 70px;}
.con-visual ul>.bg7{right: 50%; bottom: 70px; margin-right: -640px;}
.con-visual ul>.bg7 img{width: 95px;}
.con-visual ul>.bg8{right: 110px; bottom: 40px;}
.con-visual ul>.bg9{top: 180px; margin-left: -240px;}
.con-visual ul>.bg10{top: 190px; right: 50%; margin-right: -670px;}

.con-visual .bgInfo-wrap{position: relative; z-index: 11;}
.con-visual .bg-search{padding: 30px 0 20px; width: 100%; text-align: center;}
.con-visual .bg-search h2{float: left; width: 249px; height: 47px;}
.con-visual .bg-search .search-box{margin: 0 auto; display: inline-block; position: relative; box-sizing: border-box;}
.search-box #searchForm .s-Input{width: 340px; height: 39px; background: #fff; border: 3px solid #08498d; line-height: 1em; padding: 0px 42px 0 12px; max-width: 400px; outline: none;}
.search-box #searchForm .s-Input:focus{outline: none;}
.search-box #searchForm .btnSearch>a{position: absolute; display: block; height: 30px; width: 30px; top: 8px; right: 10px; padding: 5px 5px;}
.search-box .sub-box{background: #f5f8ff; border: 3px solid #09498d; border-top: none; position: absolute; left: 0; top: 100%; margin-top: -3px; text-align: left; z-index: 1; width: 88.5%; display: none; height: inherit; padding: 20px;}
.search-box:focus .sub-box{ z-index: 1; transition: .3s; display: block;}
.search-box .sub-box dl dd span{color: red;}
.search-box .sub-box dl dd:nth-child(2) span{color: blue;}

.con-visual .bg-search .favorite{float: right; padding: 14px 0 0 87px; width: 193px; height: 31px; position: relative; text-align: center; background: #08498d;  display: inline-block;}
.favorite h3{position: absolute; top: 0; left: 0;}
.favorite h3>img{padding: 11px 16px; background: #063465;}
.favorite>a{width: 100%; color: #fff; padding: 0 5px 0 12px;}
.favorite>b{width: 100%; color: #fff;}
.favorite>a>span{color: yellow;}

.bg-local .local-wrap{width: 100%; height: 350px; box-shadow: 0px 8px 8px rgba(0,0,0,.2);}
.bg-local .local-wrap .localselect{width: 335px; height: 280px; background: #1a3aa6 url(../img/map.PNG) right no-repeat ; padding: 35px 20px 35px 35px; float: left; position: relative; color: #fff;}
.localselect h2{position: absolute; top: 35px; left: 35px;}
.localselect p{position: absolute; top: 140px; left: 35px; font-size: 1em; line-height: 1.4em;}
.localselect a{width: 66px; height: 16px; padding: 12px 20px; border: 1px solid #5f75c1; position: absolute; left: 35px; bottom: 35px; color: #fff;}
.localselect a>img{vertical-align: middle; margin-right: 6px;}
.bg-local .local-wrap .status{width: 710px; height: 350px; overflow: hidden; float: right; position: relative;}
.arrow{position: absolute; top: 191px; right: 278px; width: 25px; height: 25px; background: #edf1fe; border-radius: 50%; color: #5172df;}
.arrow .angle{position: absolute; top: 0; left: -3px; right: 0; bottom: 0; margin: auto; width: 6px; height: 6px; border: 1px solid; border-color: #5172df #5172df transparent transparent; transform: rotate(45deg);}
.local-wrap .status .tab{width: 130px; height: 290px; padding: 30px 0; background: #edf1fe url(../img/bg-tab.png) no-repeat 6px 235px; display: inline-block;}
.local-wrap .status .tab>ul>li{width: 130px; height: 45px; border-top: 1px solid #d5dceb; border-bottom: 1px solid #d5dceb;  line-height: 45px;}
.local-wrap .status .tab>ul>li:first-child{margin-bottom: -1px;}
.local-wrap .status .tab>ul>li>a{width: 90px; height: 45px; padding:0 20px; display: block;}
.local-wrap .status .tab>ul>li:hover>a{background: #c9d7ff}
.local-wrap .status .tab>ul>li:last-child:hover>.local-contents2{display: block;}
.local-wrap .status .tab>ul>li>a.on{background: #5172df; border-color: #5172df; color: #fff;}

.local-wrap .status .status-con{width: 580px; height: 350px; background: #fff; float: right;}
.statusType{box-sizing: border-box;}
.status-con .statusType h3{height: 20px; padding: 17px 15px; line-height: 1.3em; font-size: 1.1em; color: #666; border-bottom: 1px solid #dae0f3; padding: 17px 15px; letter-spacing: -0.05em;}
.status-con .statusType h3 b{font-size: 1.3em; font-weight: 500; color: #5172df;}
.status-con .statusType .cont1{width: 284px; height: 305px; border-right: 1px dotted #edf1fe; padding: 30px 35px 0 30px; float: left; box-sizing: border-box;}
.statusType .cont1 .selectArea{width: 224px; height: 34px;}
.statusType .cont1 .selectArea .selectBox{float: left; position: relative; width: 50%; height: 100%;}
.selectBox .btn-search{width: 100%; cursor: pointer; line-height: 32px; border: 1px solid #cddaee; background: #fff; text-align: left; padding-left: 10px;}
.selectBox .btn-search:focus{border: 1px solid #5172df;}
.selectBox>ul{position: absolute; border: 1px solid #cddaee; background: #fff; text-align: left; height: 200px; overflow-y: scroll; width: 100%; box-sizing: border-box; display: none; z-index: 1;}
.selectBox.on>ul{display: block;}
.selectBox>ul>li{padding: 7px 0 8px 10px;}
.selectBox>ul>li:hover{background: #5172df; transition: .1s;}
.selectBox>ul>li:hover button{ color: #fff; font-weight: 400;}
.selectBox>ul>li>button{background: none;}
.selectBox1{top: 0; left: 0;}
.selectBox2{margin-left: -1px;}
.selectBox:after{content: ""; width: 0; height: 0; border: 4px solid transparent; border-color: black transparent transparent transparent; position: absolute; top: 15px; right: 10px; cursor: pointer;}

.circleBar{width: 95%; text-align: center; margin: 0 auto; display: block; height: 133px;}
.selectArea>ul>li{padding: 10px 0 10px 14px; width: 100%; position: relative;}
.selectArea>ul>li:before{content: ""; display: block; height: 9px; width: 9px; position: absolute; top: 15px; left: 0; visibility: visible;}
.selectArea>ul>.open1:before{background: #5172df;}
.selectArea>ul>.open2:before{background: #e9525a;}
.selectArea>ul>li>a{ font-weight: 500; float: right; font-size: 1em;}
.selectArea>ul>li>a:hover{text-decoration: underline;}
.selectArea>ul>li>a>b{color: #666; font-weight: 400; font-size: .9em;}
.selectArea>ul>li>a>img{border: 1px solid #d1d9f1; padding: 3px 4px; vertical-align: bottom; margin-left: 10px}

.status-con .statusType .cont2{width: 290px; height: 300px; padding: 80px 30px 0 35px; background: url(../img/statusType1-cont2.png) no-repeat right 30px top 20px; background-size: 180px; float: left; box-sizing: border-box;}
.cont2 .open-select{width: 100%;}
.cont2 .open-select>li{width: 112.5px; height: 32px; float: left;}
.cont2 .open-select>li:first-child{margin-right: -1px;}
.cont2 .open-select>li>a{width: 100%; display: block; background: #f7f7f7; border: 1px solid #dedede; line-height: 32px; text-align: center;}
.cont2 .open-select>li>a.on{background: #5172df; color: #fff; border-color: #304ba6;}

.cont2 .open-info{padding: 10px 0;}
.cont2 .open-info>li{padding: 5.5px 0;}
.cont2 .open-info>li>a{font-weight: 500; float: right; font-size: 1em;}
.cont2 .open-info>li>a:hover{text-decoration: underline;}
.cont2 .open-info>li>a>b{color: #666; font-weight: 400; font-size: .9em;}
.cont2 .open-info>li>a>img{border: 1px solid #d1d9f1; padding: 3px 4px; vertical-align: bottom; margin-left: 10px}

.con-information{background: #fff; border-bottom: 2px solid #b6c5f5; padding: 20px 0; position: relative; z-index: 3; height: 88px;}
.con-information ul li{float: left; width: 20%; font-size: 1em;}
.con-information ul li a{text-align: center; display: block;}
.con-information ul li a img{border-radius: 50%; transition: .2s ease-in-out; border: 2px solid transparent;}
.con-information ul li a:hover img{transform: rotateY(180deg); border: 2px solid #a2b0de;}
.con-information ul li a p{color: #222; font-weight: 500;}

/* 메인영역(콘텐츠 2)*/
#content2 .theme{background: #fff; padding: 40px 50px; position: relative;}
#content2 .title{position: relative; float: left; height: 220px;}
.title h2 img{margin-bottom: 14px;}
.title h2 img p{font-size: 1em; line-height: 1.2em;}

.title .slideBtn{position: absolute; left: 0; bottom: 0; border: 1px solid #dddddd; height: 14px; padding: 12px 10px;}
.title .slideBtn .slideB{width: 10px; height: 13px; overflow: hidden; margin: 0 4px; opacity: .3; float: left;}
.title .slideBtn .slideB:hover{opacity: 1;}
.title .slideBtn a.slidePrev{background: url(../img/slideBtn.jpg) 0px 0px no-repeat;}
.title .slideBtn ul{float: left; width: 46px;}
.title .slideBtn ul li{float: left; padding: 2px 4px;}
.title .slideBtn ul li>a:hover{background-color:#666}
.title .slideBtn ul li.active>a{background-color: #5172df; color: #5172df; width: 20px;  opacity: 1; height: 10px; display: block; border-radius: 10px; transition: .2s;}
.title .slideBtn ul li>a{color: #aaa;  width: 10px; background: #aaa; opacity: .5; height: 10px; display: block; border-radius: 10px; transition: .2s;}
.title .slideBtn a.slideNext{background: url(../img/slideBtn.jpg) -10px 0px no-repeat; }

#content2 .slideList{float: left; height: 220px; width: calc(100% - 420px); overflow: hidden; position: absolute; top: 45px; right: 45px;}
.slideList ul{height: 100%; overflow: hidden;}
.slideList ul li{float: left; width: 220px; height: 220px; text-align: center; position: relative;}
.slideList ul li a img{border-radius: 50%; background: #eaf1fe; margin-bottom: 5px;}
.slideList ul li a .cir01_1, .slideList ul li a .cir03_1{background: none; position: absolute;}
.cir01_1{top: 20px; right: 30px;}
.cir03_1{top: 40px; left: 20px;}
.slideList ul li h4{font-size: 1.2em; font-weight: 500;}
.slideList ul li p span{color: #5172df; font-size: 1em;}
.slideList ul li p span:first-child{padding-right: 5px;}

/* 메인영역(콘텐츠 3)*/
.boardList, .boardlink, .customer{float: left; height: 275px; margin-right: 20px;}
.boardList, .customer {background: #fff; border: 1px solid #dfe3f3;}

#content3 .boardList{width: 46%; box-sizing: border-box;}
.boardList .menu{width: 100%; border-bottom: 1px solid #eff1f9; position: relative;}
.boardList .menu>ul>li{float: left; padding: 0 15px; line-height: 50px;}
.boardList .menu>ul>li>a{ font-size: 1.1em; color: #666; padding: 12px 5px; /* position: relative; */ }
.boardList .menu>ul>li>a:focus{font-weight: 500; color: #000; border-bottom: 4px solid #5172df; }
.boardList .menu .plusTag{text-align: center; position: absolute; top: 10px; right: 20px; width: 30px; height: 30px; background: #edf1fe;font-size: 30px; color: #5172df; line-height: 30px;}

.boardList .boardArea{padding: 20px;}
.boardList .boardArea ul{position: relative;}
.boardList .boardArea ul li{ position: relative; padding: 10px 0 10px 10px; height: 16px;}
.boardList .boardArea ul li:before{content: "·"; position: absolute; top: 10px; left: 0;}
.boardList .boardArea ul li a{display: inline-block; width: calc(100% - 100px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #222; vertical-align: middle; font-size: 1.1em;}
.boardList .boardArea ul li span{text-align: right; display: inline-block; width: 100px; font-size: 1em; font-weight: 200; color: #737272; vertical-align: middle; font-size: 1.1em;}

#content3 .boardlink{width: calc(53% - 260px);}
.boardlink>a{padding: 25px; display: block; border: 1px solid #dfe3f3; height: 130px; box-sizing: border-box;}
.boardlink .link1{background:#fff url(../img/boardlink-link1.jpg)right center no-repeat;}
.boardlink .link2{background:#fff url(../img/boardlink-link2.jpg)right center no-repeat; margin-top: 15px;} 
.boardlink>a>p{color: #666; font-size: 0.9em; line-height: 1.2em; margin-bottom: 10px;}
.boardlink>a>svg {transition: .2s;}
.boardlink>a:hover>svg {transform: translateX(15px);}
.boardlink>a:hover>svg .link-fill {stroke: #5172df;}
.boardlink>a>h2, .customer>h2{font-size: 1.2em; font-weight: 500; color: #2f2f2f; margin-bottom: 10px;}

.customer{float: right; margin-right: 0; padding: 25px; box-sizing: border-box; width: 230px;}
.customer .kinder, .customer .baby{margin-bottom: 15px;}
.customer h3{font-size: 1em; color: #383838; font-weight: 500;}
.customer span{font-size: 1.5em; font-weight: 500; color: #2f4eb7;}
.customer b{ color: #373737;  background: #edf1fe; border-radius: 50%; display: inline-block; width: 18px; height: 18px; line-height: 18px; font-size: 0.8em; margin: 0 5px; font-weight: 500; text-align: center; }
.customer span, .customer b, .customer img{vertical-align: middle; letter-spacing: .5px}
.customer .open>p{ color: #666; font-size: 0.9em; line-height: 1.5em; letter-spacing: .2px}

/* 메인영역(콘텐츠 4)*/
#content4 h3{margin: 41px 0; display:block; font-weight: 500; float: left; box-sizing: border-box; vertical-align: middle;}
#content4 .bannerBtn{float: left; margin: 34px 10px;}
.bannerBtn>a{border: 1px solid #e1e1e1; display: block; width: 30px; height: 30px; float: left; margin-left: -1px; font-size: 0; opacity: .6; background: url(../img/banner-btns.jpg) -60px 0px no-repeat;}
.bannerBtn>a:hover{opacity: 1;}
.bannerBtn .prev{background: url(../img/banner-btns.jpg) 0px 0px no-repeat;}
.bannerBtn .stop{background: url(../img/banner-btns.jpg) -30px 0px no-repeat;}
.bannerBtn .next{background: url(../img/banner-btns.jpg) -90px 0px no-repeat;}

#content4 .bannerList{position: relative; float: right; width: calc(100% - 180px); margin-top: 20px; overflow: hidden; height: 60px;}
.bannerList ul{margin-left: 0px; margin-right:0; width: 1850px;} 
.bannerList ul li{width: 180px; height: 60px; border: 1px solid #e1e1e1; margin-right: 5px; overflow: hidden; float: left; box-sizing: border-box;}
.bannerList ul li a img{display: block; margin: 0 auto; margin-top: 3px;}
.bannerList .linkSize{margin-top: 0;}

/* 바닥영역 */
.footer-top{border-bottom: 1px solid #3f526e;}
.footer-top>.container{position: relative;  height: 50px;}
.footer-top>.container>ul{position: absolute; top: 0; left: 0;}
.footer-top>.container>ul li{float: left;}
.footer-top>.container>ul li a{display: block; padding: 18px 25px 18px 0; color: #7e9dcc;}
.footer-top>.container>ul li:first-child a{color: #fff;}

.footer-top .footerSelect{position: absolute; top: 0; right: 0;}
.footerSelect .footerBox{float: left; border-left: 1px solid #3f526e; height: 50px; cursor: pointer; padding: 18px 20px; box-sizing: border-box; position: relative; color: #fff; z-index: 1;}
.footerSelect .footerBox::after{content: ""; width: 0; height: 0; border: 4px solid transparent; border-color: transparent transparent #779dcc transparent; position: absolute; top: 20px; right: 10px;}

.footerSelect .box1{width: 170px;}
.footerSelect .box2{width: 230px; border-right: 1px solid #3f526e;}
.footerSelect .footerBox>ul{width: 99.5%; position: absolute; bottom: 50px; left: 0; height: 400px; overflow-y: scroll; background: #fff; border: 1px solid #dfe3f3; display: none;}
.footerBox.on>ul{display: block;}
.footerSelect .footerBox ul li:hover{background-color: #5172df; color: #fff;}
.footerSelect .footerBox ul li:hover a{color: #fff;}
.footerSelect .footerBox ul li a{color: #2b2b2b; padding: 0 10px; line-height: 2.9em;display: block;}

.footer-bottom{padding: 15px 0; line-height: 1.2rem; letter-spacing: 0.01rem;}
.footer-bottom .link{float: left;}
.footer-bottom .link i{color: #fff; margin-right: 20px; font-style: normal;}
.footer-bottom .link address{line-height: 1.5em;}
.footer-bottom .logo{float: right;}
.footer-bottom .logo a img{vertical-align: middle; padding-left: 20px;}